@charset "utf-8";

*{
	margin:0;
	padding:0;
	font-family:Tahoma, Microsoft YaHei;
}


/* 可视范围 */
#package{
	overflow:hidden;
	position:relative;
}


/* 焦点 */
#point{
	position:absolute;
	width:24px;
	right:20px;
	z-index:5;
}

#point span{
	display:inline-block;
	width:6px;
	height:6px;
	background-color:#fff;
	border-radius:12px;
	margin:9px;
	cursor:pointer;
	
	/* 焦点变小动画 */
	animation:toSmall 0.2s;
	-moz-animation:toSmall 0.2s;
	-ms-animation:toSmall 0.2s;
	-o-animation:toSmall 0.2s;
	-webkit-animation:toSmall 0.2s;
}

#point span:hover{
	width:12px;
	height:12px;
	margin:6px;
	
	/* 焦点变大动画 */
	animation:toBig 0.2s;
	-moz-animation:toBig 0.2s;
	-ms-animation:toBig 0.2s;
	-o-animation:toBig 0.2s;
	-webkit-animation:toBig 0.2s;
}

#point .active, #point .active:hover{
	width:12px;
	height:12px;
	margin:0;
	border:6px solid rgba(0, 0, 0, 0.65);
	
	/* 取消焦点动画 */
	animation:none;
	-moz-animation:none;
	-ms-animation:none;
	-o-animation:none;
	-webkit-animation:none;
}


/* 项目内容 */
#content{
	width:100%;
	overflow:hidden;
	position:absolute;
}

/* 项目背景颜色 */
#project1{
	background-color:#fece02;
}

#project2{
	background-color:#ffffff;
}

#project3{
	background-color:#2d2d2d;
}

#project4{
	background-color:#563e7c;
}

#project5{
	background-color:#01062c;
}

#project6{
	background-color:#c00000;
}


/* 项目图片部分 */
.picArea{
	width:50%;
	height:100%;
	float:left;
	cursor:pointer;
}

.picArea img{
	display:block;
	margin:auto;
}


/* 项目文字部分 */
.textArea{
	width:35%;
	height:100%;
	float:right;
	color:#FFF;
	padding-left:5%;
	padding-right:10%;
	
	/* 多行文字垂直居中_1 */
	display:table;
	
	/* 透明度渐变背景 */
	background:rgba(0, 0, 0, 0.8);
	background:linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
	background:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
	background:-ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
	background:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
	background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.textArea .text{
	/* 多行文字垂直居中_2 */
	display:table-cell;
	vertical-align:middle;
}

/* 文字动画 */
.textArea .textAnimation{
	animation:text 1s;
	-moz-animation:text 1s;
	-ms-animation:text 1s;
	-o-animation:text 1s;
	-webkit-animation:text 1s;
}

.textArea .text h1, .textArea .text h3{
	display:inline-block;
	border-bottom:5px solid rgba(255, 255, 255, 0.3);
}

.textArea .text h3{
	margin-top:20px;
}

.textArea .text p{
	margin-top:10px;
}

.textArea .text p a{
	color:#FFF;
}


/* 焦点变大动画 */
@keyframes toBig{
	from{width:6px; height:6px; margin:9px;}
	to{width:12px; height:12px; margin:6px;}
}
@-moz-keyframes toBig{
	from{width:6px; height:6px; margin:9px;}
	to{width:12px; height:12px; margin:6px;}
}
@-ms-keyframes toBig{
	from{width:6px; height:6px; margin:9px;}
	to{width:12px; height:12px; margin:6px;}
}
@-o-keyframes toBig{
	from{width:6px; height:6px; margin:9px;}
	to{width:12px; height:12px; margin:6px;}
}
@-webkit-keyframes toBig{
	from{width:6px; height:6px; margin:9px;}
	to{width:12px; height:12px; margin:6px;}
}

/* 焦点变小动画 */
@keyframes toSmall{
	from{width:12px; height:12px; margin:6px;}
	to{width:6px; height:6px; margin:9px;}
}
@-moz-keyframes toSmall{
	from{width:12px; height:12px; margin:6px;}
	to{width:6px; height:6px; margin:9px;}
}
@-ms-keyframes toSmall{
	from{width:12px; height:12px; margin:6px;}
	to{width:6px; height:6px; margin:9px;}
}
@-o-keyframes toSmall{
	from{width:12px; height:12px; margin:6px;}
	to{width:6px; height:6px; margin:9px;}
}
@-webkit-keyframes toSmall{
	from{width:12px; height:12px; margin:6px;}
	to{width:6px; height:6px; margin:9px;}
}

/* 文字动画 */
@keyframes text{
	0%{font-size:100%; padding:0;}
	65%{font-size:90.2%; padding:0 5%;}
	100%{font-size:100%; padding:0;}
}
@-moz-keyframes text{
	0%{font-size:100%; padding:0;}
	65%{font-size:90.2%; padding:0 5%;}
	100%{font-size:100%; padding:0;}
}
@-ms-keyframes text{
	0%{font-size:100%; padding:0;}
	65%{font-size:90.2%; padding:0 5%;}
	100%{font-size:100%; padding:0;}
}
@-o-keyframes text{
	0%{font-size:100%; padding:0;}
	65%{font-size:90.2%; padding:0 5%;}
	100%{font-size:100%; padding:0;}
}
@-webkit-keyframes text{
	0%{font-size:100%; padding:0;}
	65%{font-size:90.2%; padding:0 5%;}
	100%{font-size:100%; padding:0;}
}